<h1>I can tell you how many times <em>Your Word</em> is found in a sentence or group of words provided</h1>

<form action="/results">
  <div class="form-group">
     <label for="self">Enter <em>Your Word</em> here!
     </label>
     <input id="self" name="self" class="form-control" type="text">
    </br>
    </br>
    </br>
    </br>


     <label for="user_string">Enter a sentence or group of words here!
     </label>
     <input id="user_string" name="user_string" class="form-control" type="text">
  </div>

    </br>
    </br>

  <button type="submit" class="btn-success">Send</button>
</form>
